@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    background: #333;
    box-sizing: border-box;
    font-family: 'Caveat Brush', cursive;
    font-size: 62.5%;
    font-size: 1.4rem;
    color: #333;
  }
/* Eq page */
.eq-page,
.user-home-page {
    max-width: 600px;
    min-width: 480px;
    margin: 0 auto;
    background: #fff;
}

.user-home-page {
    padding: 40px 20px;
    height: 60vh;
    position: relative;
}

.choose-proc {
    margin-top: 10px;
    color: #777;
}

.page-nav {
    position: absolute;
    padding: 40px 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.page-link {
    position: relative;
    font-size: 4rem !important;
    text-decoration: none;
    color: #f07d01;
}

.page-link:first-of-type {
    transform: rotate(20deg);
    transform-origin: top left;
    z-index: 5;
}

.page-link:last-of-type {
    transform: skew(-2deg) rotate(5deg);
    transform-origin: top left;
}

.eq-page > h1 {
    text-align: center;
    padding: 20px;
    margin-bottom: 0;
}

.eq-display {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.eq-display h4 {
    margin-bottom: 10px;
}

.auto-save-warning {
    display: inline-block;
    text-align: left;
    padding: 15px 20px;
}

.buttons-block {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 3px 30px rgba(0,0,0,0.2);
}

.save-buttons {
    margin-left: auto;
    display: block;
    text-align: right;
    padding: 10px;
}

button.save-btn--new {  
    background-color: #333;  
    color:  #f07d01;
}

button.delete-btn {
    background: #960000;
}

/* preset list */
.preset-list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 30%;
}

.preset-list>h4 {
    color: #f07d01;
}

.preset-item {
    display: inline-block;
/*   width: 100px; */
}

.preset-item:not(:last-child) {
    margin-bottom: 10px;
}

.single-preset {
    display: flex;
    flex-direction: column;
}

.chosen-preset {
    font-style: italic;
    color:#2764ff;
}

.preset-display {
    padding-top: 5px;
    padding-bottom: 6px;
    border-bottom: 1px solid #ccc;
}

/* single param */
.param-input {
    display: block;
}

.param-switch {
    display: inline-block;
    width: 60px;
    margin:  5px 0;
}

.param-input:not(:last-child) {
    margin-bottom: 10px;
}

.param-select {
    float: right;
    width: 120px;
    font-family: 'Caveat Brush', cursive;
    font-family: 1.1rem;
}

.param-label {
    margin-bottom: 10px;
    font-size: 1.3rem;
}

.param-display {
    font-size: 1.2rem;
    font-weight: 600;
}

.param-display span {
    
}

/* button class */
.btn {
    display: inline-block;
    padding: 6px 10px;
    margin: 0 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 5px 10px rgba(0,0,0,0.3);
    transition: all .3s;
    background: #fff;
    border: none;
    backface-visibility: hidden;
    font-family: 'Caveat Brush', cursive;
    font-size: 1.2rem;
    border-radius: 3px;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 10px 25px rgba(0,0,0,0.3);
    transform: scale(1.02);
}

.btn:active {
    box-shadow: 0 7px 20px rgba(0,0,0,0.3);
    transform: scale(1.01);
}

/* input work */

input[type="checkbox"] {
    position: relative;
    display: block;
    appearance: none;
    height: 10px;
    width: 40px;
    background: #333;
    border-radius: 30px;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
    transition: all .3s;
    outline: none;
}

input:checked {
    background: #f07d01;
}

input[type="checkbox"]:before {
    content: 'Off';
    font-size: .7rem;
    text-align: center;
    line-height: 20px;
    position: absolute;
    top: -5px;
    left: -3px;
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    transition: all .3s;
}

input:checked:before {
    content: 'On';
    left: 22px;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 300px; 
    height: 5px;
    background: #ddd;
    outline: none; 
    opacity: 0.7; 
    -webkit-transition: .2s; 
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1; 
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    appearance: none;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    transition: all .2s;
    cursor: pointer; 
}

.slider::-moz-range-thumb {    
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 1px 5px rgba(0,0,0,0.4);
    cursor: pointer; /* Cursor on hover */
}