.single-preset-body {
    display: flex;
    flex-direction: column;
    color: #fff;
    flex: 3;
    margin-left: 20px;
    padding: 20px 20px;
    border-left: 1px solid #ccc;
}

.current-preset-header {

}

.current-preset-name {
    color: #ff0;
}

.is-loading {
    text-align: center;
    animation: loading 2s infinite ease-in-out;
    color: #ff0;
    flex: 3;
    padding: 40px;
    font-size: 3rem;
}

.has-errored {
    color: red;
    background: #333;
    padding: 20px;
    text-align: center;
    min-width: 50%;
}

@keyframes loading {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 500px) {
    .single-preset-body {
        flex: 1;
        margin-left: 0;
        padding: 0;
        border-left: none;
    }
}
