.nav-bar {
    padding: 6px 20px;
    background-color: #333;
    max-width: 600px;
    margin: 0 auto;
}

.nav-link {
    position: relative;
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #333;
    border-bottom: 3px solid #777;
    letter-spacing: 5px;
    transition: all .2s;
    padding: 0 5px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.nav-link:hover {
    color: #f07d01;
    border-color: #fff;    
    background-color: #444;
    letter-spacing: 6px;
    transform: rotate(-4deg) scale(1.05);
    transform-origin: top right;
    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    z-index: 10;
}

.nav-link:not(:last-child) {
    margin-right: 20px;
}

.nav-link:active {
    border-color: #333;
}

@media screen and (min-width: 620px) {
    .nav-bar {padding: 6px 0;}
}